<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="mb-4">New Migration Plan</h1>

    <%= render 'form', migration_plan: @migration_plan %>

    <%= link_to "Cancel", migration_plans_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
